<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h2><%= title %></h2>
    <h4>Welcome to MaintenanceTracker: A platform for utility and resources maintenance.</h4>
</body>
</html>