<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
        <title>Maintenance Tracker</title>
    </head>
    <body>
        <div class="landing-jumbo-heading">
            <div class="jumbotron">
              <h1>MaintenanceTrack: A Maintenance Tracking Application.</h1>
                <p>Get on the track.</p>
              <p><a href="/login" class="btn btn-primary btn-md">Login as Staff</a></p><br>
                <p><a href="/admin/login" class="btn btn-primary btn-md">Login as Administrator</a></p><br>
            </div>
        </div>
    </body>
</html>
