<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
        <title>Maintenance Tracker</title>
    </head>
    <body>
        <div class="landing-jumbo-heading">
            <div class="jumbotron">
              <h1>MaintenanceTracker: A platform for utility and resources maintenance.</h1>
              <p><a href="login" class="btn btn-primary btn-lg">Login</a></p><br>
            </div>
        </div>
    </body>
</html>