<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
        <title>Maintenance Tracker</title>
    </head>
    <body>
        <div class="landing-jumbo-heading">
            <div class="jumbotron">
              <h1>MaintenanceTracker: A platform for utility and resources maintenance.</h1>
              <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <p><a href="login" class="btn btn-primary btn-lg">Login</a></p><br>
<!--               <p><strong>OR</strong></p>
              <p><a href="login" class="btn btn-primary btn-lg">Signup</a></p>
 -->            </div>
        </div>
    </body>
</html>