/**********************
LOGIN - SIGNUP FORMS
***********************/
.signup-form, .login-form {
    padding-left: 30%;
    padding-right: 30%;
}

/***************************
DASH BODY CONTENTS - SECTION
***************************/
.section {
    padding-left: 10%;
}

.section-request-form {
    padding-right: 20%;
}

.profile-edit-form {
    padding-left: 30;
    padding-right: 30;
}

.clock {
    text-align: center;
}

/*
REQUEST SERVE PANEL
*/
.panel {
    padding-left: 10%;
}